body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}

#gameContainer {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#gameModeTabs {
    margin: 20px;
    padding: 20px;
}

.tabButton {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.tabButton:hover {
    background-color: #ccc;
}

.tabButton.active {
    background-color: #3498db;
    color: white;
}

#grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #e0e0e0;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
}

.cell:hover {
    background-color: #ccc;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#replayButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

#replayButton:hover {
    background-color: #2980b9;
}
#gameModeTabs {
    display: flex;
    flex-direction: column;
    
}
#humanVsHuman {
    margin: 20px;
}
#humanVsComputer {
    margin: 20px;
}